*{
  box-sizing: border-box;
}
body{
  width;100%;
  height:auto;
}
header{
  background-color: #656565;
  height: 80px;
  width: inherit;
  opacity: 1;
  color: white;
  padding:10px 15px;
}

.header-logo{
  display: inline;
  font-weight: bold;
  padding-left: 20px;
  float:left;
  font-size: 25px
}
.header-list{
  display: inline;
  float:right;
  font-size: 15px;
  padding-right: 40px;
}
.header-list a{
  color: white;
  float: left;
  list-style: none;
  padding-right: 15px;
}
.main{
  margin: 30px 15px;
}
.copy-container{
  background-image: url(main.JPG);
  height: 450px;
  width: inherit;
  opacity: 0.7;
}

.copy-container h1{
  position: absolute;
  top: 290px;
  left: 390px;
  border:10px double white;
  color: white;
  text-align: center;
  text-shadow: 2px 4px 3px black;
  padding: 10px 60px;
  font-weight: bold;
  font-size: 40px;
}
.clear{
  float:left;
}
.contents-item{
  padding: 15px 10px;
  width:inherit;
}
.contents-item p{
  font-size: 20px;
  font-weight: bold;
  border-bottom: 3px solid black;
  padding-bottom: 10px;
  padding-left: 5px;
}
.contents-item ul{
  display: inline-block;
  float: inherit;
}
.contents-item img{
  border-radius: 5px;
}

